.data-dropzone-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.data-left-panel {
    background-color: aquamarine;
}

.data-export-button {
    float: right;
}